socket-server/node_modules/
gcphone-next/web/node_modules/
server/js/node_modules/@bufbuild/protobuf/package.json
web/node_modules/
web
web/tests/e2e
web/test-results
tools/livekit/.env
tools/livekit/livekit.yaml
tools/livekit/data/
