/node_modules/
gcphone-next/web/node_modules/
web/node_modules/
web/tests/e2e
web/test-results
docs/node_modules/
docs/bun.lock
docs/.vitepress/dist/

/c:/Users/Jerico/Desktop/gcphone-master/gcphone-master/gcphone-next/sounds/gcphone-next-sound
